############################
# Python
############################
.venv/
__pycache__/
*.pyc
*.pyo

############################
# Node.js
############################
node_modules/
npm-debug.log
yarn.lock

############################
# Hyperledger Fabric (CRITICAL)
############################
wallet/
organizations/
crypto-config/
*.pem
*.key
*.crt
*.sk

############################
# Docker
############################
*.log
docker-compose.yaml.bak

############################
# Mininet
############################
*.pcap
mnexec*
netconf*

############################
# Ryu
############################
ryu-4.34/
ryu-4.34.tar.gz

############################
# Metrics / Artifacts
############################
logs/
artifact/
results/
plots/

############################
# Backup / temp
############################
*.bak
*.tmp
*.old

############################
# System
############################
.DS_Store
Thumbs.db
